.brand-logo {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
}

.bg-hitam {
    background: rgba(0, 0, 0, 0.705);
    padding: 100px;
    padding-bottom: 190px;
    /* opacity: 0.5 !important; */
}

.tombol-facebook {
    border: solid 2px blue;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 27px;
    padding-right: 10px;
    border-radius: 1000px;
    background-color: white;
    cursor: pointer;
}

.tombol-twitter {
    border: solid 2px skyblue;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1000px;
    background-color: white;
    cursor: pointer;
}

.tombol-google {
    border: solid 2px red;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1000px;
    background-color: white;
    cursor: pointer;
}

.tombol-github {
    border: solid 2px black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1000px;
    background-color: white;
    cursor: pointer;
}

.card {
    border-radius: 10px;
}